.cinemaHall {
  text-align: center;
  display: table;
  vertical-align: top;
  margin: 5% auto;
}
.seat, .bought {
  height: 25px;
  width: 25px;
  margin-right: 2px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
}
.bought{
  background-color: #7b0000;
  pointer-events: none;
  color:white
}
.session-btn{
  display: inline;
  margin: 1% 1%;
  padding: 5px 0;
  min-width: unset;
  max-width: unset;
  background: radial-gradient(100% 40%,rgb(76,4,7),rgb(35,7,8));
  color: white;
  border: none;
  border-radius: 3px;
  padding: 15px;
  font-size: 1em;
  cursor: pointer;
}
.session-btn:hover{
  background: black;
  border: 1px solid #5d0505;
  padding: 14px;
}
.session-date{
  border-bottom: 1px solid #5d0505;
  margin: 0 10%;
  padding: 15px;
  padding-bottom: 15px;
  padding-bottom: 0;color: white;
}
.sessions-list{
  margin:5px 15%;
}
.seat{
  background-color: white;
  cursor: pointer;
}

.passageBetween {
  height: 5px;
  width: 100%;
  display: block;
}
.bay {
  background-color: green;
  color:white;
}
.result {
  font-size: 10px;
  display: inline-block;
  width: 90px;
  max-height: 200px;
  overflow-y: auto;
  margin-right: 5px;
}
.rowNumber{
  position: absolute;
  color:white;
  margin-left: -25px;
}
