body, html {
    padding : 0px;
    margin : 0px;
    height : 100%;
    min-width: 1000px;
    font-family: 'Playfair Display', serif;
    font-family: 'Fira Sans', sans-serif;
    list-style: none;
    line-height: 1.5;
    background-image: url('../src/images/background.jpg');
    background-color: #2f343a;
}
nav{
    position: relative;
    height: 70px;
    background-color: #4a148c;
}

h3{
  color:white;
  text-align: center;
}

h4{
  color:silver;
  text-align: center;
}

form {
  position: relative;
}
#menu-login{
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 20px;
  text-align: right;
}
#registration{
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 20px;
  text-align: right;
}
#menu{
  position: absolute;
  top: 15px;
  left: 10px;
  margin-left: 100px;
  font-size: 20px;
  text-align: left;
}
span.span-menu, span.span-menu-noselection{
  padding: 20px;
  font-size: 20px;
  vertical-align: middle;
  color: white;
  cursor: pointer;
}

span:hover.span-menu{
  background:radial-gradient(100% 40%,rgb(76,4,7),rgb(35,7,8));
}
#form-login{
  position: relative;
  margin: 0 auto;
  width: 400px;
  color: white;
  background-image:url('../src/images/background.jpg');
}

#form-login #select-intro{
  top: 100px;
  margin: 20px;
}

span .info{
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 20px;
  font-weight: bold;
  cursor: pointer;
}

#sign-up, #registration{
  padding: 0px;
  margin : 0px;
  top: 0px;
  width: 50%;
  height: 60px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

#sign-up{
  left: 0px
}

#registration{
  left: 50%;
}

.span-select-login, .span-select-registration{
  position:absolute;
  top:20px;
  padding:0px;
}

.span-select-login{
  left:20%;
}

.span-select-registration{
  right:20%;
}


.group{
  position: relative;
  margin-bottom: 30px;
}

input{
  font-size: 18px;
  color: white;
  padding-top: 15px;
  padding-bottom:: 15px;
  display: block;
  width: 100%;
  right: 10%;
  left: 10%;
  border: none;
  border-bottom: 1px solid white;
  background-color: rgba(0,0,0,0);
}
input:focus{
  outline: none;
}

ul{
  list-style: unset;
}

label.label-text{
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
  top: -15px;
  font-size: 14px;
}

.admin-form{
  margin:50px;
  margin-top: 30px;
  margin-right: 0px;
  width: 500px;
}

.info-sign{
  font-size:25px;
  cursor: help;
  color:white;
}

.admin-form input{
  border-bottom: 1px solid #c0c0c0;
  width: 300px;
  color:#1a1f23;
}

.admin-form label{
  color:#767676;
  left:7px;
}



.bar{
  position: relative;
  display: block;
  width: calc(100% + 5px);
}

.bar.bar-adm{
  width: 305px;
}

.bar:before, .bar:after, .bar-after{
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: rgb(105,5,1);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before{
  left:50%;
}

.bar:after, .bar-after{
  right:50%;
}
input:focus ~.bar:before,
input:focus ~.bar:after{
  width: 50%;
}

.container{
  position: relative;
  display: block;
  background: rgb(0, 0, 0, 0);
  padding: 50px 50px;
}

.header{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  display: table;
  width: 100%;
  margin:0;
  padding: 0;
  height: 70px;
  table-layout: fixed;
  vertical-align: middle;
  font-size: 15px;
  line-height: 32px;
}

.header1{
  border-bottom: 1px solid ##12005e;
  background: radial-gradient(40% 50%, rgba(33,33,33,0.4), rgba(11,11,11,0.9));

}

.header2{
  border-bottom: 1px solid #44494e;
  background-color: #1a1f23;
}
.header2_cell{
  position: relative;
  top:15px;
  display: table-cell;
}

.header2_left{
  margin-left:15px;
  color: white;
}

span.header2_admin{
  font-weight: bold;
  font-size: 25px;
}
span.header2_panel{
  font-size: 25px;
}

.header2_middle{

}


.header2_select__arrow{
  position: absolute;
  top: 1px;
  right: 10px;
  bottom: 00px;
  width: 1em;
  content: " ";
  pointer-events: none;
  background-position: 50% 50%;
  background-size: 100% auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 9 5%22%3E%3Cpath fill%3D%22%23c7c9ca%22 d%3D%22M8.251 0 4.5 3.572.75 0 0 .715 3.75 4.286 3.75 4.286 4.5 5 9 .715z%22%2F%3E%3C%2Fsvg%3E%0A");
  background-repeat: no-repeat;
}

.header2_select:hover ~ .header2_select__arrow,
.header2_select:focus ~ .header2_select__arrow{
  border-top-color: #000;
}

.header2_select:disabled ~ .header2_select__arrow{
  border-color: #ccc;
}


.ul-menu {
    list-style-type: none;
    margin: 0px;
    color: white;
    padding: 0;
    overflow: hidden;
}

.li-menu {
    float: left;
}

.dropbtn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 1 #ccc;
  border-width: thin;
  margin-bottom: 15px;
  color:white;
  font-size: 16px;
  border-radius: 3px;
  background-color: #1a1f23;

  padding-right: 30px;
  cursor: pointer;
  height: 37px;
  overflow: hidden;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}
li {
  margin-top: 15px;
  padding: 3px;
}

li.dropdown {
  color:white;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 15px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.filmRedactorMenu{
  display: inline-grid;
  color: black;
  position: relative;
  margin: 20px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #44494e;
}

.layout li{
  margin: 0px;
  position: relative;
  padding: 20px;
  cursor: pointer;
}

.layout li.selected{
  background-color:#aaaaaa;
}

.layout li.list-header{
  background-color:#1a1f23;
  color: white;
  cursor: auto;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover, .filmRedactorMenu li:hover {background-color: #aaaaaa}
.filmRedactorMenu li.list-header{background-color:#1a1f23;}

.dropdown:hover .dropdown-content {
    display: block;
}

.layout{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

.content{
  background-color: white;
  height: 100%;
  margin: 20px;
  border-bottom: 1px solid #44494e;
  display: inline-flex;
}

.right{
  position: absolute;
  background-color: white;
  left: 230px;
  top: 0;
  border: 1px solid #44494e;
  margin: 20px;
}

.right .list-header{
  width: 100%;
  padding: 20px 0px;
}

h2.right{
  margin-left: 20px;
  background-color: #ccc;
}
