/* ===== Select Box ===== */
.sel {
  display: inline-block;
  width: 300px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  padding-top: 10px;
}

.sel::before {
  position: absolute;
  font-size: 2em;
  color: #FFF;
  right: 20px;
  top: calc(50% - 0.5em);

}

.sel.active::before {
  transform: rotateX(-1800px);
}

.sel__placeholder {
  display: block;
  color: #767676;
  padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: -10px;
  font-size: 14px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;

}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 14px;
  background-color: #FFF;
  width: calc(100% + 8px);
  box-sizing: border-box;
  z-index: 1;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 500ms;
}

.sel__box__options {
  display: list-item;
  font-size: 14px;
  color: #767676;
  padding: 0.5em 1em;
  user-select: none;
}

.sel__box__options::after {
  font-size: 0.5em;
  margin-left: 5px;
  display: none;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #ebedef;
}

/* ----- Select Box Black Panther ----- */
.sel {
  border-bottom: 1px solid #c0c0c0;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
