table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border-bottom: 1px solid #1a1f23;
  text-align: center;
  padding: 20px;
  padding-bottom: 7px;
  position: relative;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
th .labelTableButton, td .labelTableButton{
  width: 100px;
  padding: 10px;
  color: black;
}
